// stylelint-disable
$color-primary: #202f3b;
$color-secondary: white;
$color-background: $color-primary;

@font-face {
    font-family: 'Gordita';
    src: url('../fonts/gorditaregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body.login {
    font-family: 'Gordita', sans-serif;
    background: $color-background;
    display: flex;
}

body.login #login form#loginform {
    margin-top: 20px;
    margin-left: 0;
    padding: 26px 24px 46px;
    font-weight: 400;
    background: transparent;
    display: table;
    box-shadow: none;
    width: 268px;
    height: 50px;
}

#login {
    padding: 0;
    padding-bottom: 3rem;
}

body.login #login h1 a {
    background-image: url('../images/logo.png');
    background-size: contain;
    width: 260px;
    height: 50px;
    margin: 0 auto 25px;
}

.login form {
    border-radius: 0;
}

.login #login_error {
    border-left-color: transparent;
    border-radius: 0;
    color: $color-primary;
    text-align: center;
    box-shadow: none;
    background-color: $color-secondary;
    width: 250px;
    margin: 0 auto;

    br {
        display: none;
    }
}

.login .message {
    border-left-color: transparent;
    border-radius: 0;
    color: $color-primary;
    text-align: center;
    box-shadow: none;
    background-color: $color-secondary;
    width: 250px;
    margin: 0 auto;
}

.login label {
    font-size: 14px;
    color: $color-secondary;
}

.login input[type='text'],
.login input[type='password'] {
    background-color: $color-secondary;
    font-size: 14px;
    height: 45px;
    line-height: 45px;
    padding: 5px;
    border-color: $color-primary;
    color: $color-primary;
}

input[type='radio'],
input[type='checkbox'] {
    border-color: $color-primary;
    box-shadow: none;
}

input[type='text']:focus,
input[type='password']:focus {
    box-shadow: none;
    border: 1px solid $color-primary;
}

.login .button-primary {
    float: right;
    background-color: #f49b35 !important;
    border: none;
    text-shadow: none;
    box-shadow: none;
    border-radius: 0 !important;
}

.login .button-primary:hover {
    background-color: #f49b35 !important;
    border-radius: 0 !important;
}

.login .button-primary:active {
    background-color: #f49b35 !important;
    border-radius: 0 !important;
}

.login #backtoblog a,
.login #nav a,
.login a {
    color: #f49b35;
}

.login #backtoblog a:hover,
.login #nav a:hover {
    color: #f49b35;
    text-decoration: underline;
}
// stylelint-enable
