$font-family-main: 'Avenir', Helvetica, Arial, sans-serif;
$font-family-title:  'Playfair Display', serif;


$color-main: #1d1d1d;

$color-darker-grey: #1d1d1d;
$color-dark-grey: #898989;
$color-grey: #BDBDBD;
$color-light-grey: #EBECF0;
$color-lighter-grey: #050B18;

$color-pink:#eda5a7;
$color-blue:#538cb9;
$color-green:#4f9551;
$color-white: #fff;
$color-red:#a93e3e;

$color-primary: #0A1326;
$color-secondary: #050B18;
$color-tertiary: #D3A14C;


$nav-transition: all .5s ease !default;
$home-hero-transition: all 1s ease;
$teams-transition:all 1s ease !default;
$loader-transition: all .5s ease !default;
$o-wrapper-transition: all 1.5s ease !default;
$project-listing-transition: all 1s ease !default;  